html, body {
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

header {
  width: 100%;
  border-bottom: 1px solid #d8d8d8;
  box-shadow: 0 2px 4px rgba( 0, 0, 0, .3 );
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: white;
}

main {
  z-index: 1;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Mitr', sans-serif;
}

h1 {
  font-size: 20px;
  padding: 10px 0;
}

p {
  padding: 10px;
}

#logoImage {
  float: left;
}

nav ul {
  list-style-type: none;
  display: block;
  float: right;
  height: 75px;
  font-family: 'Mitr', sans-serif;
  margin-right: 5px;
}

nav li {
  display: inline-block;
  height: 75px;
  line-height: 75px;
}

nav a {
  text-decoration: none;
  padding: 10px 20px;
  color: black;
  border-color: #E5DCB9;
}

nav a.current {
  border-top: 5px solid #E5DCB9;
}

nav a:hover {
  border-bottom: 5px solid #E5DCB9;
  transition: .1s;
}

#hero {
  background-image: url( "../images/hero-drawing.jpg" );
  background-position: center;
  width: 100%;
  height: 550px;
  margin-top: 76px;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur( 5px );
}

#heroContent {
  width: 50%;
  position: absolute;
  left: 45%;
  top: 200px;
  width: 50%;
  background: rgba( 255, 255, 255, 0.75 );
  padding: 15px 25px;
  max-height: 450px;
  max-width: 640px;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 5px 5px 5px rgba( 0, 0, 0, .1 );
}

#profiles {
  margin: 25px auto;
  display: block;
  text-align: center;
}

#profiles li {
  padding: 10px;
  display: inline-block;
  text-align: center;
}

#profiles img {
  border-radius: 50px;
}

#projects {
  width: 100%;
  background-color: #E5DCB9;
  padding: 15px;
  box-sizing: border-box;
}

#projects ul {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

#projects li {
  display: inline-block;
}

#contact {
  padding: 15px;
}

#contact div {
  width: 45%;
  margin: 2%;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
}

#contact form {
  width: 40%;
  margin: 0 auto;
}

#contact label {
  display: block;
  color: grey;
  font-size: 10px;
  margin-bottom: 2px;
}

#contact input {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  margin-bottom: 15px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

#contact #submitButton {
  width: 50%;
}

#contact #submitButton:hover {
  background-color: #E5DCB9;
}

#contact textarea {
  width: 100%;
  height: 110px;
  padding: 3px;
  box-sizing: border-box;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

footer {
  padding: 10px;
}

footer small {
  font-size: 10px;
  color: grey;
}

#responsiveMenuIcon {
  display: none;
  position: absolute;
  top: 21px;
  right: 16px;
}

input[type=text]:valid,
textarea:valid {
  background-color: #94FF94;
}

input:invalid,
textarea:invalid {
  background-color: #FF9494;
}

#contactResults {
  width: 480px;
  padding: 15px 20px;
  margin: 0 auto;
  display: none;
}

@media( max-width: 680px ) {
  nav ul {
    width: 100%;
    max-height: 0;
    height: auto;
    transition: 0.5s;
  }

  nav li {
    width: 100%;
    display: block;
    text-align: center;
    margin: 0 auto;
  }

  nav a {
    width: 90%;
    height: 50px;
    display: inline-block;
    line-height: 20px;
    box-sizing: border-box;
  }

  nav:hover ul {
    max-height: 250px;
  }

  #responsiveMenuIcon {
    display: block;
  }

  #heroContent {
    top: 125px;
    left: 5%;
    width: 90%;
    padding: 5px 10px;
  }

  #contact form {
    width: 95%;
  }

  #projects ul {
    width: 95%
  }
}
